body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding-top: 80px;
}

.container {
    width: 1440px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .logo {
    display: inline-block;
    font-size: 27px;
}

header .logo .blue-dot {
    background-color: #3E50E5;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    border-radius: 6px;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li.menu-icon {
    display: none;
}

header nav ul li.menu-icon img {
    vertical-align: middle;
    width: 20px;
    height: auto;
}

header nav ul li a {
    color: #3e3e3e;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #3E50E5;
}

header nav ul li:last-of-type {
    margin-right: 0;
}

section.hero {
    position: relative;
}

section.hero img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    max-width: 440px;
    color: #fff;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: normal;
}

.hero-content p {
    max-width: 518px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 0;
}

.hero-content button {
    height: 50px;
    width: 220px;
    max-width: 100%;
    border-radius: 92px;
    background-color: #3e50e5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #fff;
    color: #3e50e5;
    border: 1px solid #3e50e5;
}

section.best-sellers {
    padding-top: 80px;
}

section.best-sellers h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-sellers hr {
    border: none;
    border-top: 5px solid #67F11D;
    width: 66px;
}

section.best-sellers .product-slider {
    margin-top: 76px;
}

section.best-sellers .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

section.best-sellers .product-slider .product {
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 33%;
    text-align: center;
    margin: 0 8px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

section.best-sellers .product-slider .product img {
    max-width: 100%;
}

section.best-sellers .product-slider .product.new::before {
    content: "New";
    position: absolute;
    top: 12px;
    right: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-align: center;
    padding: 4px 15px;
    border-radius: 40px;
    background-color: #EC1C1C;
}

section.best-sellers .product-slider .product-info {
    margin-top: 50px;
}

section.best-sellers .product-slider .product-info .categorias {
    color: #3e50e5;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 30px;
    margin-bottom: 8px;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .title {
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 6px;
    font-weight: normal;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .price {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 0;
}

section.best-sellers .product-slider .product-info .price .discounted-price {
    color: #EC1C1C;
}

section.best-sellers .product-slider .product-info .price .original-price {
    color: #9B9B9B;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
    text-decoration: line-through;
}

section.best-sellers .product-slider .product-info button {
    height: 50px;
    width: 219.5px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 220px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
}

section.best-sellers .product-slider .product:hover .product-info button {
    background-color: #3e50e5;
    border: 1px solid #3e50e5;
    color: white;
}

section.newsletter {
    background-color: rgba(200, 200, 200, 0.18);
    max-width: 955px;
    text-align: center;
    padding: 72px 0;
    margin: 80px auto;
}

section.newsletter h3 {
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 42px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

section.newsletter p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 20px;
}

section.newsletter form {
    display: flex;
    justify-content: center;
}

section.newsletter input {
    height: 50px;
    width: 326px;
    max-width: 80%;
    border-radius: 60px 0 0 60px;
    box-sizing: border-box;
    border: 1px solid #3E3E3E;
    border-right: none;
    font-family: Heebo;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    padding-left: 22px;
}

section.newsletter button {
    height: 50px;
    width: 145px;
    max-width: 20%;
    box-sizing: border-box;
    border-radius: 0 60px 60px 0;
    background-color: #3E50E5;
    border: 1px solid #3E50E5;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

section.newsletter button:hover {
    background-color: #fff;
    border: 1px solid #3E50E5;
    color: #3E50E5;
    border: 1px solid #3E3E3E;
}

footer .bottom-nav {
    padding: 60px 0;
    background-color: #3e3e3e;
}

footer .bottom-nav .container {
    max-width: 955px;
    display: flex;
    justify-content: space-between;
}

footer .bottom-nav ul {
    list-style: none;
}

footer .bottom-nav ul li a {
    color: #e0e0e0;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
}

footer .bottom-nav ul li a:hover {
    color: #3E50E5;
}

footer .bottom-nav ul .list-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff
}

footer .copyright-text {
    color: white;
    background-color: #2b2b2b;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
}

/* CSS MEDIA QUERIES */

/* Start of Design for Small Desktop */
@media screen and (max-width: 1440px) {
    .container {
        width: 1180px;
    }

    body {

        padding-top: 70px;
    }

    header {
        height: 70px;
    }

    .hero-content h1 {
        font-size: 44px;
        letter-spacing: 1.1px;
        line-height: 50px;
        margin-bottom: 12px;
    }

    .hero-content p {
        font-size: 18px;
        letter-spacing: 0.4px;
        line-height: 26px;
        margin-bottom: 12px;
    }

    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
    }
}

/* End of Design for Small Desktop */

/* Start of Design for Tablets */
@media screen and (max-width: 960px) {
    .container {
        max-width: 92%;
    }

    header .logo {
        font-size: 24px;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li.menu-icon {
        display: inline-block;
    }

    .hero-content h1 {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 46px;
    }

    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
    }

    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
    }
}

/* End of Design for Tablets */

/* Start of Design for Mobile Phones */
@media screen and (max-width: 576px) {
    header .logo {
        font-size: 18px;
    }

    header .logo .blue-dot {
        width: 7px;
        height: 7px;
    }

    .hero-content {
        position: static;

    }

    .hero-content h1 {
        color: #000;
        font-size: 32px;
        letter-spacing: 0.8px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 27px;
    }

    .hero-content p {
        display: none;
    }

    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
        margin: auto;
    }

}

/* End of Design for Mobile Phones */