body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    min-height: 3000px;
    padding-top: 80px;
}

.container {
    max-width: 1180px;
    margin: auto;
    padding: 0 16px;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header .logo {
    display: inline-block;
    font-size: 27px;
}

header .logo .blue-dot {
    background-color: #3E50E5;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    border-radius: 6px;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #3e3e3e;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li:last-of-type {
    margin-right: 0;
}

section.hero {
    position: relative;
}

section.hero img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    max-width: 440px;
    color: #fff;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
}

.hero-content p {
    max-width: 518px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 0;
}

.hero-content button {
    height: 50px;
    width: 220px;
    max-width: 100%;
    border-radius: 92px;
    background-color: #3e50e5;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-align: center;
    border: none;
    text-transform: uppercase;
}