body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 80px;

}

header .logo {
    display: inline-block;
}

header nav {
    display: inline-block;
    float: right;
}

header nav ul li {
    display: inline-block;
}